body
{
  background-size: cover;
  overflow: auto;
  height: 80%;
}

.header
{
  background-color: #f5883e;
  height: 80px;
  display: flex;
}

.nav
{
  margin-left: 40px;
  margin-top: 5px;
  width: 90px;
  font-size: x-large;
}

.logout
{
  margin-left: 1000px;
  margin-top: 20px;
  width: 100px;
  font-size: x-large;
}

.nav:active, .logout:active
{
  background-color: antiquewhite;
}
.button,.add_button,#submit_button,.submit_button,#chat_button
{
  background-image:linear-gradient(to bottom right, #FA924C,#f9b486);
  border-style:initial;
  display: flex;
  border-radius: 8px;
  text-align: center;
  font-size: large;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-color: #FA924C;
  cursor: pointer
}

.b_upload,#searchbar
{
  background-image:linear-gradient(to bottom right, #FA924C,#f9b486);
  border-style:initial;
  border-radius: 8px;
  text-align: center;
  font-size: large;
  height: 40px;
  width: 100px;

}

.b_upload,#searchbar
{
  background-image:linear-gradient(to bottom right, #FA924C,#f9b486);
  border-style:initial;
  border-radius: 8px;
  text-align: center;
  font-size: large;
  height: 40px;
  width: 100px;

}

.button:active
{
  background-image:linear-gradient(to bottom right,#fb6c0c,#FA924C);
}

.reg_input,.reg_f_input,.reg_c_input
{
  grid-column: 4;
  border-radius: 4px;
  outline: none;
  background-color: #f9b486;
}

input:focus
{
  border:2.5px solid #353535;
}

.form_div
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  height: 40vh;
}

.reg_label,.reg_f_label,.reg_c_label
{
  grid-column: 1;
  font-size: large;
  padding-bottom: 50px;
  text-align: center;
}

#b_login
{
  width: 190px;
  height: 40px;
}

#r_login
{
  width:250px;
}

#login
{
  width: 300px;
  border-radius: 22px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 40%;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}

.reg-page,.reg_c_div
{
  width: 350px;
  border-radius: 22px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 40%;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}
.reg_f_div
{
  width: 600px;
  border-radius: 22px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  padding-left: 50px;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}

#f_form_div
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

#reg_c_form,#reg_form
{
  align-items: center;
  padding-left: 20px;
}

li
{
  list-style-type: none;
}

.review_box
{
  padding-top: 30px;
}

.review_card
{
  float: left;
  background-color:#f6ad7d;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  font-size:large;
}

.Link,.tags
{
  color:aliceblue;
  padding: 5px;
  margin-right: 10px;
  background-color:dimgrey;
  border-radius: 10px;
}


#project_gallery
{
  padding-top: 20px;
  margin-left: 400px;
  padding-left: 40px;
  background-color:coral;
  border-radius: 18px;
  opacity: 0.95;
}

.f_details,#c_profile
.f_details,#c_profile
{
  float: inline-start;
  padding-top: 30px;
  padding-right: 60px;
  padding-left: 40px;
  height:auto;
  max-width: 300px;
  background-color:#FA924C;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 20px;
}

#freelancer_profile
{
  display: inline-block;
  padding-left: 70px;
  padding-top: 60px;
}
h1,h2,h3,h4,h5,h6
{
  font-weight: bold;
}
h1
{
  font-size:35px;
}
h2
{
  font-size:30px;
}
h3
{
  font-size:25px;
}
h4
{
  font-size: 20px;
}
h5
{
  font-size: 18px;
}
h6
{
  font-size: 15px;
}
body
{
  font-size: 18px;
}
li
{
  list-style-type:square;
}
.handoff_div, .feedback_div
{
  position: relative;
  display: none;
}
#upload_profile_placeholder 
{
  position: relative;
  display: none;
}
#upload_project_pdf
{
  position: relative;
  display: none;
}

#client_profile
{
  display: inline-block;
  padding-left: 70px;
  padding-top: 60px;
  padding-bottom: 20px;
}

#c_proj
{
  padding-top: 20px;
  padding-right: 20px;
  margin-left: 400px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color:coral;
  border-radius: 18px;
  opacity: 0.95;
}

#project_page
{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 600px;
  border-radius: 22px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  padding-left: 50px;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}

.recap-div
{
  padding-left: 70px;
  padding-top: 30px;

}


.pie-div
{
  height: 550px;
  width: 700px;
  border-radius: 23px;
  background-color: whitesmoke;
  margin-right: 100px;
  
}

.recap-details
{
  display: flex;
}

.project-dets
{
  width: 600px;
  border-radius: 22px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}

#view_pdf,.pay-submit
{
  color:aliceblue;
  padding: 10px;
  margin-right: 10px;
  background-color:dimgrey;
  border-radius: 20px;
}

.payment-div
{
  width: 400px;
  border-radius: 22px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 35%;
  padding-left: 20px;
  padding-top: 20px;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}

#Dropdown,.amount
{
  border-radius: 18px;
  height: 40px;
}

#data_warning
{
  position:fixed;
  margin-left:3%;
  margin-right:3%;
  margin-top: 1%;
  background-color:orangered;
  font-size:large;
  font-family: 'Times New Roman', Times, serif;
}

#footer
{
  position: fixed;
  bottom: 0%;
  background-color: #f5883e;
  width: 100%;
  text-align: center;
}

a
{
  text-decoration: underline;
}

#github-img
{
  display: inline;
  width: 30px;
}

.header
{
  position: sticky;
  top:0%;
}